
body {
  background: lavender;
}
.container {
  display: flex;
  padding-top: 10%;
  flex-direction: column;
  align-items: center;
}
.container > img {
  width: 60%;
}
h1 {
  font-family: 'Montserrat', impact;
  font-weight: 800;
  font-size: 2.5em;
  margin-top: 5%;
  color: #4caaa8;
  text-align: center;
  letter-spacing: 2px;
}
#fact {
   font-family: 'Montserrat', impact;
   font-weight: 600;
   font-size: 1em;
   color: #255453;
   text-align: center;
   margin-top: 15px;
   padding-top: 5%;
}

/* ======= CAT CAROUSEL ========  */
/* used reference from the corgi carousel exercise for the css */

.carousel-container {
  width: 70%;
  display: flex;
  justify-content: center;
}
.carousel-image {
  width: 80%;
  background: #90b3b2;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;

}
.carousel-image img {
  width: 100%;
  border-radius: 10px;
  display: none;
}
.carousel-button {
  align-self: center;
  background: #f9f9f9;
  color: #999;
  padding: 20px;
  border-radius: 20%;
  text-align: center;
}
.carousel-button:hover {
  cursor: pointer;
  background: #a1a1a1;
  box-shadow: 1px 1px #999;
  color: white;
}

.carousel-image img:first-of-type {
  display: block;
}
